#cuerpo {
    background-color: beige;
    width: 100%;
}

.inicio {
    color: whitesmoke;
    align-items: center;
    justify-content: space-between;
    display: inline-flex;
    width: 100%;
}

.inicio__logo1 {
    height: 8%;
    width: 4vw;
    margin: 1vh 1vw;
}

.inicio__logo2 {
    height: 8%;
    width: 4vw;
    margin: 1vh 1vw;
}


.container-fluid {
    background-color: beige;
    padding: 0.5vh 0.5vw;
}

.btn-secondary {
    width: 100%; 
    margin-bottom: 10px; 
}




body {
    background-color: beige;
    margin: 0;
    padding: 0;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 12vh 2vw;
    max-width: 600px;
    margin: auto;
}

form {
    width: 600px;
    border: 2px solid black;
    border: none;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.432);
    color: whitesmoke;
    padding: 6%;
    margin: 6%;
}

.h2 {
    display: block;
    width: 95%;
    padding: 10px;
    margin: 10px;
}

label {
    padding: 10px;
    font-size: 18px;
    font-weight: 300;
}

input {
    display: block;
    width: 95%;
    padding: 10px;
    margin: 10px;
}

@media (max-width: 768px) {
    .inicio__logo1,
    .inicio__logo2 {
        width: 10vw; /* Ajuste del tamaño del logo para pantallas pequeñas */
    }

    .login {
        margin: 2vh auto; /* Reducir margen en pantallas pequeñas */
    }
}

@media (max-width: 768px) {
    .col {
        width: 100%; 
    }
}

#footer {
    background-color: rgb(25, 25, 25);
    height: 50vh;
    width: 100%;
    border-top: 1.6vh solid rgb(61, 61, 61);
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer a {
    color: whitesmoke;
}

#mapa--footer {
    height: 20vh;
    width: 20vw;
}

.success {
    background-color: rgb(165, 234, 164);
    color: black;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}

.error {
    background-color: rgb(217, 132, 132);
    color: black;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}